.mySwiper {
  padding-top: 30px;
  padding-bottom: 60px;
}

.swiper-pagination-bullet {
  background-color: #141414;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #039355 !important;
}

/* Optional: small screen slide spacing tweak */
@media (max-width: 640px) {
  .mySwiper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
