/* Swiper pagination bullets rangini yashil qilish */
.swiper-pagination-bullet {
  background-color: #039355 !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #02b164 !important;
}

/* style.css ichiga */
@keyframes spin {
  to { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
